

<div fxLayout="row" fxLayoutAlign="center center">
  <div >
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Autmatizáció
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-label>If:</mat-label>
        <p>it.ifDeviceName</p>
        <p>it.ifFieldName</p>
<!--        //TODO azt hogy melyik értéknél történjen az if azt nem mentettem el-->
        <p>it.ifValue</p>
        <p>it.after</p>
        <mat-label>Then:</mat-label>
        <p>it.thenDeviceName</p>
        <p>it.thenFieldName</p>
        <p>it.message</p>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Automatizáció elkészítése</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="start center">
      <mat-label>If:</mat-label>
      <mat-form-field>
        <mat-label>Input</mat-label>
        <mat-select >
          <mat-option>key.payloadKey</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-radio-group >
        <mat-radio-button value="gt">Nagyon</mat-radio-button>
        <mat-radio-button value="lt">Kisebb</mat-radio-button>
        <mat-radio-button value="eq">Egyenlő</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <mat-label>At what value</mat-label>
        <form >
          <input matInput type="text" formControlName="ifVal">
        </form>
      </mat-form-field>
      <mat-label>Then</mat-label>

      <mat-form-field>
        <mat-label>Device</mat-label>
        <mat-select >
          <mat-option >dev.deviceName</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Output Field</mat-label>
        <mat-select >
          <mat-option >this.thenDevice?.fieldKey</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Massage to send</mat-label>
        <form >
          <input matInput type="text" formControlName="message">
        </form>
      </mat-form-field>
      <mat-form-field>
        <mat-label>When to check again</mat-label>
<!--        <mat-select [(value)]="whenToCheck">-->
<!--          <mat-option value="1">1 Hour</mat-option>-->
<!--          <mat-option value="2">2 Hour</mat-option>-->
<!--          <mat-option value="3">3 Hour</mat-option>-->
<!--          <mat-option value="4">4 Hour</mat-option>-->
<!--          <mat-option value="5">5 Hour</mat-option>-->
<!--          <mat-option value="6">6 Hour</mat-option>-->
<!--          <mat-option value="7">7 Hour</mat-option>-->
<!--          <mat-option value="8">8 Hour</mat-option>-->
<!--        </mat-select>-->
          <input matInput type="time" >
      </mat-form-field>
      <button mat-raised-button color="primary">Save</button>
    </mat-card-content>
  </mat-card>
</div>
