.blue{
  background-color: aqua;
}
.red{
  background-color: indianred;
}
.green{
  background-color: lightgreen;
}
.yellow{
  background-color: yellow;
}



.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}
