<div fxLayout="column" fxLayoutAlign="start center">
  <p>{{deviceInput.deviceName}}</p>
  <div *ngFor="let field of deviceInput.fieldKey; index as i">
    <div *ngIf="deviceInput.fieldType[i] == 2">
      <label>{{field}}</label>&nbsp;
      <label>{{deviceInput.payloadValue[i]}}</label>
    </div>
    <div *ngIf="deviceInput.fieldType[i] == 1">
      <!--      <label>{{field}}</label>-->
      <mat-form-field appearance="outline">
        <mat-label>{{field}}</mat-label>
        <input matInput type="number" name="{{field}}" value="{{deviceInput.payloadValue[i]}}" size="4"
               [(ngModel)]="number">
      </mat-form-field>
        <button mat-raised-button color="primary" (click)="sendPayloadToDevice(field, deviceInput.topic,number)"
                style="margin-left: 10px">
          <mat-icon>send</mat-icon>
        </button>
    </div>
    <div *ngIf="deviceInput.fieldType[i] == 3">
<!--            <label>{{field}}</label>-->
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>{{field}}</mat-label>-->
<!--      </mat-form-field>-->
<!--      //TODO ki be kapcsoláshoz egy functiont írni-->
      <section class="example-section">
        <mat-slide-toggle color="primary" class="example-margin">On/Off</mat-slide-toggle>
      </section>
    </div>
    <!--        //TODO Most már csak a többit kell ide megcsinálni-->
  </div>
</div>


<div *ngIf="deviceInput.payloadValue[0] != '0'">
  <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'400px'}"></canvasjs-chart>
</div>

<!--</div>-->

<!--<mat-grid-list cols="2" rowHeight="2:1" >-->
<!--  <mat-grid-tile class="blue"></mat-grid-tile>-->
<!--  <mat-grid-tile class="red"></mat-grid-tile>-->
<!--  <mat-grid-tile class="green"></mat-grid-tile>-->
<!--  <mat-grid-tile class="yellow"></mat-grid-tile>-->
<!--</mat-grid-list>-->


<!--//TODO EZEKET MÉG MA MEG KELL CSINÁLNI-->
<!--//TODO angular vissza is küldjön adatott az MQTT felé-->
<!--//TODO ha mentés történik az adatbázisba akkor frissítse az adatokat angulárban-->
