<div class="flex-div">
<!--  @if (isLoaded) {-->

    <div>
      @for (sensor of this.selectedDevice.sensors; track $index) {

        @switch (sensor.category){
          @case ('temp'){
            <app-temperature [selectedDevice]="selectedDevice"/>
          }
          @case ('plug'){
            <app-plug [selectedDevice]="selectedDevice"/>
          }
          @case ('light'){
            <app-light [selectedDevice]="selectedDevice"></app-light>
          }
          @case ('switch'){
            <app-switch [selectedDevice]="selectedDevice"></app-switch>
          }
        }

        @if (sensor.category === 'temp') {
          <app-schedule-device [selectedDevice]="selectedDevice"></app-schedule-device>
        }
        @if (sensor.category === 'plug' || sensor.category === 'light' || sensor.category === 'switch') {
          <app-schedule-time [selectedDevice]="selectedDevice"></app-schedule-time>
        }
      }
    </div>
    <div>
      <app-schedule-table [selectedDevice]="selectedDevice"></app-schedule-table>
    </div>
<!--  }-->

</div>
