.flex-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}


.createDeviceButton{
  padding: 20px;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
}

.max-div {
  padding: 20px;
  width: 350px;
}

.example-card {
  width: 300px;
  height: auto;
  padding: 25px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 34px 1px rgba(0,0,0,0.61);
  -webkit-box-shadow: 10px 10px 34px 1px rgba(0,0,0,0.61);
  -moz-box-shadow: 10px 10px 34px 1px rgba(0,0,0,0.61);
}

.fontStlye{
  font-size: 20px;
  font-weight: 500;
}

.topic{
  font-size: 12px;
  color: darkgray;
}

.location{
  font-size: 16px;
}

.deviceName{
  font-size: 26px;
}
