<div class="flex-center">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="text-center">Bejelentkezés</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()" >
        <mat-form-field appearance="outline">
          <mat-label>Felhasználónév</mat-label>
          <input matInput name="text" placeholder="Email" type="login" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Jelszó</mat-label>
          <input matInput name="email" placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
          <button class="full-width" mat-raised-button color="primary" type="submit">Bejelentkezés</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
