<!--@if (loading) {-->
<!--  <p>Loading...</p>-->
<!--} @else {-->
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Eszköz Neve</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly center">
      <section>
        <mat-slide-toggle [checked]="power" (click)="onClick()">{{ power }}</mat-slide-toggle>
      </section>
      <label>Dimmer</label>
      <mat-slider min="0" max="100" step="1" showTickMarks discrete>
        <input matSliderThumb (valueChange)="changeDimmer($event)" [(value)]="dimmer">
      </mat-slider>

      @if (isWhite) {
        <label>White</label>
        <button (click)="changeToWhite()">White</button>
      }

      @if (isCT) {
        <label>Warmth CT</label>
        <mat-slider min="153" max="500" step="1" showTickMarks discrete>
          <input matSliderThumb (valueChange)="changeCT($event)" [(value)]="ct">
        </mat-slider>
      }

      @if (isHSBColor) {
        <label>Color Picker</label><br>
        <input type="color" [(ngModel)]="rgb" (ngModelChange)="onColorPick()" value="#ffffff">
      }

    </mat-card-content>
  </mat-card>




<mat-card>
  <mat-card-header>
    <mat-card-title>Scheduled Actions</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Frequency</mat-label>
      <mat-select [(ngModel)]="frequency">
        <mat-option value="daily">Daily</mat-option>
        <mat-option value="weakly">Weakly</mat-option>
        <mat-option value="monthly">Monthly</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-radio-group [(ngModel)]="scheduleOnOff">
      <mat-radio-button value="ON">On</mat-radio-button>
      <mat-radio-button value="OFF">Off</mat-radio-button>
    </mat-radio-group>
    @if (frequency == "daily") {
      <mat-form-field>
        <mat-label>Pick a time</mat-label>
        <input matInput [matTimepicker]="picker">
        <mat-timepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matTimepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-timepicker-toggle>
        <mat-timepicker #picker/>
      </mat-form-field>
    } @else if (frequency == "weakly"){

    } @else if (frequency == "monthly"){
      <mat-form-field>
        <mat-label>Pick a Months</mat-label>
        <input matInput [matTimepicker]="customPicker">
        <mat-timepicker-toggle matIconSuffix [for]="customPicker"/>
        <mat-timepicker [options]="monthsOptions" #customPicker/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Pick a day</mat-label>
        <mat-select [(ngModel)]="monthlyDay">
          @for (item of [].constructor(31); track item; let idx = $index) {
            <mat-option value="{{idx+1}}">{{idx+1}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  </mat-card-content>
</mat-card>
<!--}-->


