<!--@if (loading) {-->
<!--  <p>Loading...</p>-->
<!--} @else {-->
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Eszköz Neve</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly center">
      <section>
        <mat-slide-toggle [checked]="power" (click)="onClick()">{{ power }}</mat-slide-toggle>
      </section>
      <label>Dimmer</label>
      <mat-slider min="0" max="100" step="1" showTickMarks discrete>
        <input matSliderThumb (valueChange)="changeDimmer($event)" [(value)]="dimmer">
      </mat-slider>

      @if (isWhite) {
        <label>White</label>
        <button (click)="changeToWhite()">White</button>
      }

      @if (isCT) {
        <label>Warmth CT</label>
        <mat-slider min="153" max="500" step="1" showTickMarks discrete>
          <input matSliderThumb (valueChange)="changeCT($event)" [(value)]="ct">
        </mat-slider>
      }

      @if (isHSBColor) {
        <label>Color Picker</label><br>
        <input type="color" [(ngModel)]="rgb" (ngModelChange)="onColorPick()" value="#ffffff">
      }

    </mat-card-content>
  </mat-card>





<!--}-->


