<mat-card>
  <mat-card-header>
    <mat-card-title>Scheduled Actions</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Frequency</mat-label>
      <mat-select [(ngModel)]="frequency" (selectionChange)="onChange()">
        <mat-option value="daily">Daily</mat-option>
        <mat-option value="weekly">Weakly</mat-option>
        <mat-option value="monthly">Monthly</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-radio-group [(ngModel)]="selectedCommand">
      <mat-radio-button value="{POWER ON}" >On</mat-radio-button>
      <mat-radio-button value="{POWER OFF}">Off</mat-radio-button>
    </mat-radio-group>
    @if (frequency == "daily") {
      <ngx-mat-timepicker-field color="primary"
                                [format]="24"
                                [defaultTime]="'00:00'" [(ngModel)]="timePicker"></ngx-mat-timepicker-field>
    }

    @else if (frequency == "weekly") {
      <mat-form-field>
        <mat-label>Pick a Day</mat-label>
        <mat-select [(ngModel)]="weekPicker">
          @for (week of weeklyOptions; track week) {
            <mat-option value="{{week}}">{{week}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <ngx-mat-timepicker-field color="primary"
                                [format]="24"
                                [defaultTime]="'00:00'" [(ngModel)]="timePicker" ></ngx-mat-timepicker-field>
    }

    @else if (frequency == "monthly") {
      <mat-form-field>
        <mat-label>Pick a day</mat-label>
        <mat-select [(ngModel)]="monthDayPicker">
          @for (item of [].constructor(31); track $index) {
            <mat-option value="{{$index+1}}">{{ $index + 1 }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <ngx-mat-timepicker-field color="warn"
                                [format]="24"
                                [defaultTime]="'00:00'" [(ngModel)]="timePicker" ></ngx-mat-timepicker-field>
    }
    <button mat-flat-button color="primary" (click)="onSave()">Save</button>
  </mat-card-content>
</mat-card>
