<div>
  <p>Votlage: {{voltage}}</p>
  <p>Current: {{current}}</p>
  <p>Active Power: {{activePower}}</p>
  <p>Energy Today: {{energyToday}}</p>
  <p>Energy Yestarday: {{energyYestarday}}</p>
  <p>Energy Total: {{enegyTotal}} </p>
</div>

<section>
  <mat-slide-toggle [checked]="power" (click)="onClick()">{{ power }}</mat-slide-toggle>
</section>

@if (measList.length > 0) {
  <div>
    <canvasjs-chart [options]="powerOption" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>
}
