<div class="flex-div">


  <mat-accordion class="max-width">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Felhasználói adatok
        </mat-panel-title>
      </mat-expansion-panel-header>
      <label>Username: {{this.user?.username}}<br></label>
      <label>Email: {{this.user?.email}}</label><br>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Jelszó módosítás
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="newPwdForm" (ngSubmit)="changePassword()" class="flex-div">
        <mat-form-field appearance="outline">
          <mat-label>Régi jelszó:</mat-label>
          <input matInput type="password" placeholder="Password" name="text" class="input" formControlName="oldpwd">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Régi jelszó megerősítése:</mat-label>
          <input matInput type="password" placeholder="Password" name="text" class="input" formControlName="newpwd1">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Új jelszó:</mat-label>
          <input matInput type="password" placeholder="Password" name="text" class="input" formControlName="newpwd2">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Jelszó mentése</button>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Kép feltöltése
        </mat-panel-title>
      </mat-expansion-panel-header>
      <input type="file" placeholder="Kép feltöltés" name="text" class="input">
    </mat-expansion-panel>
  </mat-accordion>
</div>
