<div class="container">
<div class="card">
    <div><mat-icon>person</mat-icon></div>
  <div class="card-title card-socials">Felhasználónév<br>
    <label>Email</label><br>
    <label>Valami3<br></label>
  </div>
</div>
<div class="card">
    <div>
      <label>Jelszó módosítás:</label><br>
      <label>Régi jelszó:</label><input type="password" placeholder="Password" name="text" class="input">
      <label>Új jelszó:</label><input type="password" placeholder="Password" name="text" class="input">
      <label>Jelszó megerősítése:</label><input type="password" placeholder="Password" name="text" class="input">
    </div>
</div>
  <div class="card">
    <div>
      <label>Kép feltöltés</label><br>
      <input type="file" placeholder="Kép feltöltés" name="text" class="input">
    </div>
  </div>
</div>
