.flex-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  width: 270px;
  padding: 16px;
  margin: 20px;
}

.full-width {
  width: 102%;
  margin-bottom: 16px;
}
button{
  width: auto;
}

