<!--  //TODO menüt megcsinálni hogy amikor bejelentkezik a felhasználó akkor a megfelelő menüpontok maradjanak meg-->
<!--<div class="container">-->
<!--  <div class="div-nav">-->
<!--    <ul class="option">-->
<!--      <li class="item"><a routerLink="/main">Fő oldal</a></li>-->
<!--      <li class="item"><a routerLink="/devices">Eszközök</a></li>-->
<!--      <li class="item"><a routerLink="/user-data">Felhasználói adatok</a></li>-->
<!--      <li class="item"><a routerLink="/login">Bejelentkezés</a></li>-->
<!--      <li class="item"><a routerLink="/register">Regisztráció</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->




<mat-sidenav-container>
<!--  <mat-sidenav #sidenav>-->
<!--    <app-menu-->
<!--      (selectedPage)="changePage($event)"-->
<!--      [currentPage]="page"-->
<!--      *ngIf="page"-->
<!--      (onCloseSidenav)="onClose($event, sidenav)"-->
<!--      [loggedInUser]="loggedInUser"-->
<!--      (onLogout)="logout($event)"-->
<!--    ></app-menu>-->
<!--  </mat-sidenav>-->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div></div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li><a routerLink="/main">Fő oldal</a></li>
          <li><a routerLink="/devices">Eszközök</a></li>
          <li ><a routerLink="/user-data">Felhasználói adatok</a></li>
          <li ><a routerLink="/login">Bejelentkezés</a></li>
          <li ><a routerLink="/register">Regisztráció</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
