<mat-sidenav-container style="position: static">
  <!--  <mat-sidenav #sidenav>-->
  <!--    <app-menu-->
  <!--      (selectedPage)="changePage($event)"-->
  <!--      [currentPage]="page"-->
  <!--      *ngIf="page"-->
  <!--      (onCloseSidenav)="onClose($event, sidenav)"-->
  <!--      [loggedInUser]="loggedInUser"-->
  <!--      (onLogout)="logout($event)"-->
  <!--    ></app-menu>-->
  <!--  </mat-sidenav>-->
  <mat-sidenav #sidenav>
    <app-menu
      (onCloseSideNav)="onClose($event, sidenav)"
      [loggedInUser]="loggedInUser"
      (onLogout)="logout($event)"
    ></app-menu>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-container">
      <mat-toolbar class="toolbar-buttons" color="primary">
        <button mat-button routerLink="/main" ><mat-icon>home</mat-icon><span>Main</span></button>
        @if (loggedInUser) {
          <button mat-button routerLink="/devices"><mat-icon>home</mat-icon><span>Eszközök</span></button>
          <button mat-button routerLink="/user-data"><mat-icon>home</mat-icon><span>Felhasználói adatok</span></button>
        }
        @if(!loggedInUser){
          <button mat-button routerLink="/login" ><mat-icon>login</mat-icon><span>Bejelentkezés</span></button>
        }
        @if (loggedInUser) {
          <button mat-button routerLink="/login" (click)="logout()"><mat-icon>logout</mat-icon><span>Kijelentkezés</span></button>

        }
        @if (!loggedInUser) {
          <button mat-button routerLink="/register"><mat-icon>app_registration</mat-icon><span>Regisztráció</span></button>
        }
      </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
