<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div *ngFor="let device of devicesObjectInput" class="max-div fontStlye">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{device.deviceName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let field of device.fieldKey; index as i">
          <p *ngIf="device.fieldType[i] == 2">{{field}}:{{device.payloadValue.at((device.payloadValue.length-i)-2)}}</p>
        </div>
        <div *ngIf="device.deviceType == '3' || device.deviceType == '2'">
          <section class="example-section">
            <mat-slide-toggle color="primary" class="example-margin">On/Off</mat-slide-toggle>
          </section>
        </div>
        <button mat-raised-button color="primary" (click)="selectDevice(device)">View</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
