<!--<select [(ngModel)]="chosenDevice" (change)="reload()" xmlns="http://www.w3.org/1999/html">-->
<!--  <option *ngFor="let device of devicesObjectInput" [ngValue]="device" >{{device.deviceName}}</option>-->
<!--</select>-->
<!--<mat-form-field>-->
<!--  <mat-select [(ngModel)]="chosenDevice" (change)="reload()">-->
<!--    <mat-option *ngFor="let device of devicesObjectInput" [value]="device" >-->
<!--      {{device.deviceName}}-->
<!--    </mat-option>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->

<mat-list >
  <mat-list-item (click)="createNewDevice()">Eszköz hozzáadása</mat-list-item>
  <mat-list-item *ngFor="let device of devicesObjectInput" (click)="selectDevice(device)">
    {{device.deviceName}}
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Módosítás</span>
      </button>
      <!--      <button mat-menu-item disabled>-->
      <!--        <mat-icon>voicemail</mat-icon>-->
      <!--        <span>Check voice mail</span>-->
      <!--      </button>-->
        <button mat-menu-item (click)="deleteDevice(device.devicesId)">
          <mat-icon>delete</mat-icon>
          <span>Törlés</span>
        </button>
    </mat-menu>
  </mat-list-item>
</mat-list>
