<mat-form-field>
  <mat-label>Target Device</mat-label>
  <mat-select [(ngModel)]="targetDeviceId">
    @for (device of userDevices; track $index) {
      <mat-option [value]="device.devicesId">{{ device.deviceName }}</mat-option>
    }
  </mat-select>
</mat-form-field>
<mat-radio-group [(ngModel)]="whichValue">
  <mat-radio-button value="Temperature">Temperature</mat-radio-button>
  <mat-radio-button value="Humidity">Humidity</mat-radio-button>
</mat-radio-group>
<mat-form-field>
  <mat-label>ASD</mat-label>
  <mat-select [(ngModel)]="operation">
    <mat-option value="lt">Lower</mat-option>
    <mat-option value="eq">Equal</mat-option>
    <mat-option value="gt">Upper</mat-option>
  </mat-select>
</mat-form-field>
<!--<mat-form-field>-->
<!--  <mat-label>Which value?</mat-label>-->
<!--  <mat-select [(ngModel)]="whichValue">-->
<!--    <mat-option value="Temperature">Temperature</mat-option>-->
<!--    <mat-option value="Humidity">Humidity</mat-option>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->
<mat-form-field>
  <mat-label>When?</mat-label>
  <input matInput type="number" [(ngModel)]="triggerValue">
</mat-form-field>

<mat-form-field>
  <mat-label>Action</mat-label>
  <mat-select [(ngModel)]="selectedCommand">
    @for (cmd of tasmotaCommands; track $index) {
      <mat-option value="{{cmd.id}}">{{ cmd.argument }}</mat-option>
    }
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="onSave()">Save</button>


<mat-card>
  <mat-card-header>
    <mat-card-title>Automation</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="custom-material-table">
      <thead>
      <tr>
        <th>Frequency</th>
        <th>Action</th>
        <th>Time</th>
        <th>Target Device</th>
        <th>Operation</th>
      </tr>
      </thead>
      <tbody>
        @for (st of scheduleTask; track $index) {
          <tr>
            <td>{{st.frequency}}</td>
            <td>{{ st.command.command }}&nbsp;{{ st.command.argument }}</td>
            <td>{{ st.scheduledTime != "" ? st.scheduledTime : 'No time set' }}</td>
            @if (st.targetDeviceId != -1) {
              <td>{{ st.targetDeviceId }}</td>
            } @else {
              <td> No target device</td>
            }
            <td>
              <button mat-mini-fab color="primary" (click)="onEdit(st)"><mat-icon>edit</mat-icon></button>
              &nbsp;
              <button mat-mini-fab color="primary" (click)="onDelete(st)"><mat-icon>delete</mat-icon></button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
