<div class="status-container">
  <p>Temperature: {{ tempStatus }}</p>
  <p>Humidity: {{ humidityStatus }}</p>
  <p>DewPoint: {{ dewpointStatus }}</p>
</div>
@if (this.tempList.length > 0 && this.humiList.length > 0) {
  <div class="chart-row">
    <div class="chart-container">
      <canvasjs-chart [options]="tempOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
    </div>
    <div class="chart-container">
      <canvasjs-chart [options]="humiOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
    </div>
  </div>
}
